  <div class="blogNav">
    <h3>Blog Navigation</h3>
    
    <div class="Search">
      <input placeholder="Search Title" ng-model="title.title">
      <input placeholder="Search Author" ng-model="title.author">
      <input placeholder="Search Date" ng-model="title.date">
    </div>

    <button ng-click="orderNewest()">Order by Newest</button>
    <button ng-click="orderOldest()">Order by Oldest</button>




<!--     <button ng-click="counter()">Add 1</button>

    count: {{ count }}
 -->
  </div>
  